@import "bootstrap-sprockets";
@import "bootstrap";

/* Variable Breakpoint */
@mixin respond-to($breakpoint) {
  @media only screen and (min-width: $breakpoint + px) { @content; }
}

/* Variables */
$max-page-size: 1200px;


/* Colors */
$light: #eee;


body {
	
}


.main_wrapper {
	max-width: $max-page-size;
	margin:0 auto;
}

.navbar {
	background: $light;
	border-radius: 0px;
	border: 0px;
	.container-fluid {
		max-width: $max-page-size;
		margin:0 auto;
	}
}

.dropdown {
	@include respond-to(768) {
		&:hover {
			ul {
				display:block;
			}
		}
	}
	.dropdown-menu {
		@media(max-width:767px) {
			display: block;
			position: relative;
			width: 100%;
			background: none;
			box-shadow: none;
			border:none;
		}
		li {
			a {

			}
		}
	}
}