@import "bootstrap-sprockets";
@import "bootstrap";

.container {
	width: 100%;
	max-width: 1000px;
}

.dropdown {
	&:hover {
		ul {
			display:block;
		}
	}
}

.navbar {
	border-radius: 0px;
	.container-fluid {
		max-width: 1000px;
		margin:0 auto;
	}
}

.main_wrapper {
	padding-bottom:20px;
}

textarea {
	min-height: 150px;
}