@import "bootstrap-sprockets";
@import "bootstrap";

@mixin respond-to($breakpoint) {
  @media only screen and (min-width: $breakpoint + px) { @content; }
}

$dark: #13293d;
$dark_blue: #006494;
$teal: #247ba0;
$green: #247ba0;
$blue: #1b98e0;
$grey: #e8f1f2;

.container {
	width: 100%;
	max-width: 1000px;
}

h1 {
	margin-top:0px;
}

.dropdown {
	&:hover {
		ul {
			display:block;
		}
	}
	.dropdown-menu {
		@media(max-width:767px) {
			display: block;
			position: relative;
			width: 100%;
			background: none;
			box-shadow: none;
			border:none;
		}
		li {
			a {

			}
		}
	}
}

.navbar {
	border-radius: 0px;
	background: $dark;
	border:none;
	.container-fluid {
		max-width: 1000px;
		margin:0 auto;
		.navbar-header {
			.navbar-brand {
				height: auto;
				.logo {
					width: 112px;
					img {
						width: 112px;
					}
				}
				.logo_text {
					color:#fff;
					margin-top: 37px;
					letter-spacing: 1px;
					font-weight: bold;
				}
			}
		}
		#navbar {
			margin-top:40px;
			li {
				&.active {
					a {
						background: $teal !important;
					}
				}
				a {
					color:#fff;
					font-weight: 16px;
				}
			}
		}
	}
}

.main_wrapper {
	padding-top:20px;
}

.main_button {
	text-align: center;
	.btn {
		width: 100%;
		max-width: 500px;
		margin:40px auto 60px auto;
	}
}

textarea {
	min-height: 150px;
}

.quick_info {
	font-size: 30px;
	text-align: center;
	margin: 30px auto;
	.phone_number {
		font-weight: bold;
	}
	.address {
		font-size: 16px;
	}
	.btn {
		background: $blue;
		width: 100%;
	}
	.small-links {
		a {
			font-size: 14px;
		}
	}
}

.exciting_text {
	margin:45px auto 20px auto;
	background: $green;
	text-align: center;
	.link {
		padding:20px;
		font-size: 16px;
		font-weight: bold;
		color:#fff;
		text-decoration: underline;
	}
}

.well {
	background: none;
	color:#fff;
	border:none;
	box-shadow: none;
}

.blasts {
	.blast {
		text-align: center;
		padding: 30px;
		&:hover {
			.fa {
				color:$green;
			}
		}
		.fa {
			font-size: 100px;
			color:#ccc;
		}
		h2 {
			color:$green;
		}
	}
}

.home_bottom {
	width: 100%;
	max-width: 100%;
	background: $green;
	padding: 40px 0px;
	color:#fff;
	margin-bottom: -40px;
	@include respond-to(768) {
		padding: 40px;
	}
	p {
		margin-bottom: 30px;
	}
	textarea {
		min-height: 200px;
	}
	.btn {
		width: 100%;
		font-size: 20px;
		text-transform: uppercase;
		margin:10px auto;
		padding: 8px;
	}
}

.btn-primary {
	background: $dark_blue !important;
	&:hover {
		background: $dark_blue !important;
	}
}

footer {
	background: $dark;
	color:#fff;
	padding:35px 20px;
	text-align: center;
	margin-top: 40px;
	ul {
		list-style: none;
		text-align: center;
		padding:0px;
		@include respond-to(768) {
			text-align: left;
			list-style: disc;
			padding-left: 14px;
		}
		li {
			text-align: center;
			@include respond-to(768) {
				text-align: left;
			}
		}
	}
}

.img-thumbnail {
	margin: 0 auto;
}

.fancybox {
	width: 100%;
	text-align: center;
	display: block;
}

.gallery_grid {
	.img-thumbnail {
		margin: 10px auto;
	}
}