<div class="text-right">	
	<%= link_to 'New Menu Item', new_admin_menu_item_path, :class => 'btn btn-primary' %>
</div>

<br />

<div class="row">
	<div class="col-sm-12 list-partial">
		<%= render 'list' %>
	</div>
</div>